In [1]:
person = {
    "first": "Shaan",
    "last": "Ailawadi",
    "email": "ailawadis04@gmail.com"
}

In [2]:
people = {
    "first": ["Shaan"],
    "last": ["Ailawadi"],
    "email": ["ailawadis04@gmail.com"]
}

In [3]:
people = {
    "first": ["Shaan", 'Jane', 'John'],
    "last": ["Ailawadi", 'Smith', 'Rodney'],
    "email": ["ailawadis04@gmail.com", 'Smith@gmail.com', 'Rodney@gmail.com']
}

In [4]:
people['email']

['ailawadis04@gmail.com', 'Smith@gmail.com', 'Rodney@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first      last                  email
0  Shaan  Ailawadi  ailawadis04@gmail.com
1   Jane     Smith        Smith@gmail.com
2   John    Rodney       Rodney@gmail.com